In [1]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('listings_50_outliers_oslo.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10452 entries, 0 to 10451
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   last_scraped                                  10452 non-null  object
 1   host_name                                     10452 non-null  object
 2   host_since                                    10452 non-null  object
 3   host_location                                 10452 non-null  object
 4   host_response_time                            10452 non-null  object
 5   host_response_rate                            10452 non-null  object
 6   host_acceptance_rate                          10452 non-null  object
 7   host_is_superhost                             10452 non-null  object
 8   host_has_profile_pic                          10452 non-null  object
 9   host_identity_verified                        10452 non-null  object
 10  property_type                                 10452 non-null  object
 11  room_type                                     10452 non-null  object
 12  bathrooms_text                                10452 non-null  object
 13  price                                         10452 non-null  float64
 14  has_availability                              10452 non-null  object
 15  calendar_last_scraped                         10452 non-null  object
 16  first_review                                  10452 non-null  object
 17  last_review                                   10452 non-null  object
 18  license                                       10452 non-null  object
 19  instant_bookable                              10452 non-null  object
 20  id                                            10452 non-null  float64
 21  host_id                                       10452 non-null  int64
 22  host_listings_count                           10452 non-null  float64
 23  host_total_listings_count                     10452 non-null  float64
 24  accommodates                                  10452 non-null  float64
 25  bathrooms                                     10452 non-null  int64
 26  bedrooms                                      10452 non-null  float64
 27  beds                                          10452 non-null  float64
 28  minimum_nights                                10452 non-null  float64
 29  maximum_nights                                10452 non-null  float64
 30  minimum_minimum_nights                        10452 non-null  float64
 31  maximum_minimum_nights                        10452 non-null  float64
 32  minimum_maximum_nights                        10452 non-null  float64
 33  maximum_maximum_nights                        10452 non-null  float64
 34  minimum_nights_avg_ntm                        10452 non-null  float64
 35  maximum_nights_avg_ntm                        10452 non-null  float64
 36  availability_30                               10452 non-null  int64
 37  availability_90                               10452 non-null  int64
 38  number_of_reviews                             10452 non-null  float64
 39  number_of_reviews_ltm                         10452 non-null  float64
 40  number_of_reviews_l30d                        10452 non-null  float64
 41  review_scores_rating                          10452 non-null  float64
 42  review_scores_accuracy                        10452 non-null  float64
 43  review_scores_cleanliness                     10452 non-null  float64
 44  review_scores_checkin                         10452 non-null  float64
 45  review_scores_location                        10452 non-null  float64
 46  calculated_host_listings_count_entire_homes   10452 non-null  int64
 47  calculated_host_listings_count_private_rooms  10452 non-null  int64
 48  calculated_host_listings_count_shared_rooms   10452 non-null  int64
 49  reviews_per_month                             10452 non-null  float64
dtypes: float64(24), int64(7), object(19)
memory usage: 4.0+ MB

In [4]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10452 entries, 0 to 10451
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   last_scraped                                  10452 non-null  object
 1   host_name                                     10452 non-null  object
 2   host_since                                    10452 non-null  object
 3   host_location                                 10452 non-null  object
 4   host_response_time                            10452 non-null  object
 5   host_response_rate                            10452 non-null  object
 6   host_acceptance_rate                          10452 non-null  object
 7   host_is_superhost                             10452 non-null  object
 8   host_has_profile_pic                          10452 non-null  object
 9   host_identity_verified                        10452 non-null  object
 10  property_type                                 10452 non-null  object
 11  room_type                                     10452 non-null  object
 12  bathrooms_text                                10452 non-null  object
 13  price                                         10452 non-null  float64
 14  has_availability                              10452 non-null  object
 15  calendar_last_scraped                         10452 non-null  object
 16  first_review                                  10452 non-null  object
 17  last_review                                   10452 non-null  object
 18  license                                       10452 non-null  object
 19  instant_bookable                              10452 non-null  object
 20  id                                            10452 non-null  float64
 21  host_id                                       10452 non-null  int64
 22  host_listings_count                           10452 non-null  float64
 23  host_total_listings_count                     10452 non-null  float64
 24  accommodates                                  10452 non-null  float64
 25  bathrooms                                     10452 non-null  int64
 26  bedrooms                                      10452 non-null  float64
 27  beds                                          10452 non-null  float64
 28  minimum_nights                                10452 non-null  float64
 29  maximum_nights                                10452 non-null  float64
 30  minimum_minimum_nights                        10452 non-null  float64
 31  maximum_minimum_nights                        10452 non-null  float64
 32  minimum_maximum_nights                        10452 non-null  float64
 33  maximum_maximum_nights                        10452 non-null  float64
 34  minimum_nights_avg_ntm                        10452 non-null  float64
 35  maximum_nights_avg_ntm                        10452 non-null  float64
 36  availability_30                               10452 non-null  int64
 37  availability_90                               10452 non-null  int64
 38  number_of_reviews                             10452 non-null  float64
 39  number_of_reviews_ltm                         10452 non-null  float64
 40  number_of_reviews_l30d                        10452 non-null  float64
 41  review_scores_rating                          10452 non-null  float64
 42  review_scores_accuracy                        10452 non-null  float64
 43  review_scores_cleanliness                     10452 non-null  float64
 44  review_scores_checkin                         10452 non-null  float64
 45  review_scores_location                        10452 non-null  float64
 46  calculated_host_listings_count_entire_homes   10452 non-null  int64
 47  calculated_host_listings_count_private_rooms  10452 non-null  int64
 48  calculated_host_listings_count_shared_rooms   10452 non-null  int64
 49  reviews_per_month                             10452 non-null  float64
dtypes: float64(24), int64(7), object(19)
memory usage: 4.0+ MB

In [13]:
df['availability_30'].info()

TypeError: 'NoneType' object is not subscriptable

In [10]:
df=df.to_csv('listings_50_outliers_oslo2.csv', index=False)